@import url("https://rsms.me/inter/inter.css");

:root {
  /* ------ */
  /* COLORS */
  /* ------ */

  /* Colors not currently in use are commented out. If needed for future use
  cases then can be added. Similarly, colors that stop being used or fall out
  of fashion can be commented out and retired. */

  /* Color stacks */
  --gray-0: #f6f6f6;
  --gray-5: #e6e6e6;
  --gray-20: #bcbcbc;
  --gray-45: #7f7f7f;
  --gray-65: #474747;
  --gray-80: #272727;
  --gray-90: #1b1b1b;

  /* --orange-0: #ffd23c;
  --orange-5: #ffb904;*/
  --orange-30: #ff7600;
  --orange-60: #bc0000;
  /*--orange-80: #7f0000;
  --orange-90: #6b0000;*/

  /* Color application*/
  --color: var(--gray-80);
  --color-secondary: var(--gray-65);
  --color-muted: var(--gray-45);
  --bg-color: white;
  --bg-color-light: var(--gray-0);

  --border-color: var(--gray-20);
  --border-color-light: var(--gray-5);
  --border: 1px solid var(--border-color);
  --border-light: 1px solid var(--border-color-light);
  --border-dark: 1px solid #888;

  --selected-color: var(--orange-30);
  --focus-color: var(--orange-30);

  /* ---------- */
  /* TYPOGRAPHY */
  /* ---------- */

  /* Type */
  --font-size: 12px;
  --font-size-lg: 14px;
  --font-size-sm: 11px;
  --font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  --font-family-heading: var(--font-family);
  --weight-regular: 500;
  --weight-bold: 700;

  /* --------------- */
  /* SHAPES & STYLES */
  /* --------------- */

  /* Radii */
  --radius: 12px;
  --radius-sm: 4px;

  /* Shadows */
  --shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 100px 80px rgba(0, 0, 0, 0.07);

  /* Transitions */
  --transition: 0.3s;

  /* ----- */
  /* FORMS */
  /* ----- */

  /* Form controls */
  --control-font-size: var(--font-size);
  --control-color: var(--color);
  --control-border: var(--border);
  --control-border-color: var(--border-color);
  --control-height: 24px;
  --control-icon-size: 16px;
  --control-hover-bg: var(--gray-5);

  /* ---------------- */
  /* SPACING & LAYOUT */
  /* ---------------- */

  --block-padding: 16px; /* Content blocks. e.g. sections, modals */

  /* Swatches */
  --stack-gap: 8px;
  --swatch-gap: 0;

  /* Spectrum */
  --spectrum-height: 24px;
  --spectrum-handle-overhang: 4px;
}

* {
  box-sizing: border-box;
  font-weight: var(--weight-regular);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color);
  background-color: var(--bg-color);
  font-size: var(--font-size);
  overflow-x: hidden;
}

body,
button,
input {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--font-family-heading);
  font-weight: var(--weight-bold);
  /* text-transform: uppercase;*/
  letter-spacing: -0.01em;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
}

h2 {
  /*color: var(--color-muted);*/
  font-size: 20px;
}

h3 {
  color: var(--color-muted);
  font-size: 13px;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
}

.help {
  padding: 8px 0;
  color: var(--color-muted);
}

input,
button {
  border-radius: var(--radius-sm);
  color: var(--control-color);
  font-size: var(--control-font-size);
}

input[type="text"],
input[type="number"] {
  background: white;
  border: var(--control-border);
  padding: 4px 8px;
  text-align: center;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--focus-color);
  box-shadow: 0 0 0 1px var(--focus-color);
}

/* Remove up/down arrows for incrementing numbers inside of number input. */
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

button {
  padding: 6px 12px;
  cursor: pointer;
  background-color: var(--gray-5);
  border: 0;
  border-radius: 26px;
}

@media (min-width: 640px) {
  button {
    padding: 4px 8px;
  }

  .button--muted {
    background-color: white;
  }
}

button:hover {
  /* In this case, I didn't have enough grays and needed to add one manually.
  This is how you get to "20 different grays" in your app every 6 months and
  then have to consolidate.

  Post-launch, I'm going to expand the initial gray palette 7 to 8 or 9 colors.
  */
  background: #d6d6d6;
}

button:focus {
  outline: none;
}

.label {
  color: var(--color-secondary);
  font-size: var(--font-size-sm);
  letter-spacing: 0.03em;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

.control-group {
  margin-bottom: 12px;
}
.control-group:last-of-type {
  margin-bottom: 0;
}

.label--radio,
.label--checkbox {
  display: block;
  padding: 3px 6px 5px 6px;
  border-radius: var(--radius);
  text-transform: none;
}

.label--radio:hover,
.label--checkbox:hover {
  background: var(--control-hover-bg);
  cursor: pointer;
}

pre {
  margin: 0;
}

pre[contenteditable="true"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

/* Layout */
.control-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 112px;
}

.control-col-section {
  margin-bottom: 16px;
}

.control-col-section:last-of-type {
  margin-bottom: 0;
}

.control-col__btn {
  width: 100%;
  margin: 4px 0 8px;
  text-align: left;
}
