@import url("https://rsms.me/inter/inter.css");

:root {
  --color: #333;
  --color-secondary: #666;
  --color-muted: #999;
  --bg-color: #ddd;
  --bg-color-light: #f3f3f3;

  --border-color: #b3b3b3;
  --border: 1px solid var(--border-color);
  --border-light: 1px solid #ddd;
  --border-dark: 1px solid #888;
  --radius: 6px;
  --radius-sm: 3px;

  --selected-color: #f60;
  --focus-color: #f60;

  /* Transitions */
  --transition: 0.3s;

  /* Forms */
  --control-height: 24px;
  --control-icon-size: 16px;
  --control-hover-bg: #eee;

  /* Swatches */
  --stack-gap: 8px;
  --swatch-gap: 0;

  /* Spectrum */
  --spectrum-height: 24px;
  --spectrum-handle-overhang: 4px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

body,
button,
input {
  color: var(--color);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
}

h2 {
  color: var(--color-muted);
  font-size: 20px;
}

input[type="text"],
input[type="number"] {
  padding: 4px 8px;
  border: var(--border);
  border-radius: 3px;
  text-align: center;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: var(--focus-color);
  box-shadow: 0 0 0 1px var(--focus-color);
}

/* Remove up/down arrows for incrementing numbers inside of number input. */
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/*input[type="radio"] {
  margin-bottom: 8px;
}
*/
button {
  height: var(--control-height);
  background: white;
  border: var(--border);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

button:hover {
  background: var(--control-hover-bg);
}

button:focus {
  outline: none;
  border-color: var(--focus-color);
  box-shadow: 0 0 0 1px var(--focus-color);
}

.btn {
  /*  padding: 4px 8px;*/
}

label {
  color: var(--color-secondary);
  font-size: 11px;
  letter-spacing: 0.03em;
  font-weight: 600;
  text-transform: uppercase;
}

.label--radio {
  display: block;
  padding: 4px 6px;
  border-radius: var(--radius);
}

.label--radio:hover {
  background: var(--control-hover-bg);
}

pre {
  margin: 0;
}

pre[contenteditable="true"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

/* Layout */
.control-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
}
